body {
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	font-size: 13px;
}

.error {
	color: #c00;
}

label {
	font-weight: bold;
	padding-bottom: 5px;
}

.goal .progress_info {
	color: black;
	font-weight: bold;
	white-space: nowrap;
}
.goal .progress-bar {
	background-color: lightblue;
}
.goal .panel-title h4 .title {
	margin-left: 25px;
}
.goal .ui-state-focus {
	outline: none;
}
.goal .log_entry {
	margin-left: 10px;
}
.goal .log_entry label {
	padding-top: 10px;
	padding-bottom: 0px;
}
