<!DOCTYPE html>
<html ng-app="GoalTracker">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Writing Goal Tracker</title>
	<meta name="description" content="Simple Goal Tracker for tracking how many words you need to write to meet your goal">

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/moment/min/moment-with-locales.js"></script>  

	<script src="goaltracker.js"></script>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.css" />
	<link rel="stylesheet" href="goaltracker.css" />
</head>
<body ng-controller="GoalTrackerCtrl">

	<div class="navbar navbar-default navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav navbar-nav">
					<li>
						<a role="button">
							<div class="btn btn-success" ng-click="showAddModal()">New Goal</div>
						</a>
					<li>
				</ul>
			</div>
		</div>
	</div>

	<div role="main" class="app-body">
		<div class="app-content container">

		<alert ng-repeat="alert in alerts track by $index"
			type="{{alert.type}}"
			close="closeAlert($index)">
			{{alert.msg}}
		</alert>

		<div class="goal"
			ng-repeat="(name, info) in goal_info">
			<h2>
				<span>{{name}} ({{info.words_per_day}} / day) due {{info.end_date}}</span>
			</h2>
			<div>Words today:</div>
			<progressbar max="info.words_per_day" value="info.today_progress">
				<span class="progress_info">{{info.today_progress}} / {{info.words_per_day}}</span>
			</progressbar>

			<div>Pace progress:</div>
			<progressbar max="info.end_of_day_count" value="info.goal_progress">
				<span class="progress_info">{{info.goal_progress}} / {{info.end_of_day_count}}</span>
			</progressbar>

			<div>Overall Progress:</div>
			<progressbar max="info.total" value="info.goal_progress">
				<span class="progress_info">{{info.goal_progress}} / {{info.total}}</span>
			</progressbar>

			<div class="task_progress" ng-if="info.progress_log">
				<h3>Progress Log</h3>
				<div class="log_entry"
					ng-repeat="(date, value) in info.progress_log">
					<label>{{date}}</label>
					<span>{{value}} words</span>
			</div>
		</div>
	</div>

	</div>


<script type="text/ng-template" id="partial/goal_dialog.html">
	<div class="modal-header">
		<h4>Create a new writing goal</h4>
	</div>

	<div class="modal-body">
		<form name="goal_form">
			<label for="goal_name">Name:
				<span role="alert" ng-show="goal_form.$submitted || goal_form.goal_name.$touched">
					<span class="error" ng-show="goal_form.goal_name.$error.required">Required!</span>
				</span>
				<br/>
				<input id="goal_name"
					name="goal_name"
					type="text"
					ng-model="goal.name"
					required />
			</label>
			<br/>

			<label for="goal_word_count">Word Count Goal:
				<span role="alert" ng-show="goal_form.$submitted || goal_form.goal_word_count.$touched">
					<span class="error" ng-show="goal_form.goal_word_count.$error.required">Required!</span>
					<span class="error" ng-show="goal_form.goal_word_count.$error.number">Not a valid number!</span>
				</span>
				<br/>
				<input id="goal_word_count"
					name="goal_word_count"
					type="number"
					ng-model="goal.word_count"
					min="100"
					required />
			</label>
			<br/>

			<label for="goal_days_remaining">Due in days:
				<span role="alert" ng-show="goal_form.$submitted || goal_form.goal_days_remaining.$touched">
					<span class="error" ng-show="goal_form.goal_days_remaining.$error.required">Required!</span>
					<span class="error" ng-show="goal_form.goal_days_remaining.$error.number">Not a valid number!</span>
				</span>
				<br/>
				<input id="goal_days_remaining"
					name="goal_days_remaining"
					type="number"
					ng-model="goal.days_remaining"
					min="1"
					required />
			</label>
			<br/>

		</form>
	</div>

	<div class="modal-footer">
		<input type="button" class="btn btn-default" ng-click="cancel()" value="Close" />
		<input type="submit" class="btn btn-primary" ng-click="save(goal)" value="Save" />
	</div>
</script>

</body>
</html>
